@import "tailwindcss";

/* Default (light theme) */
:root {
  --bg: 255 255 255;
  --text: 17 24 39;
  --card: 255 255 255;
  --border: 229 231 235;
  --primary: 59 130 246;

  --danger: 220 38 38; /* red-600 */
}

/* Dark theme */
[data-theme='dark'] {
  --bg: 24 24 27;
  --text: 244 244 245;
  --card: 39 39 42;
  --border: 63 63 70;
  --primary: 96 165 250;

  --danger: 248 113 113; /* red-400 (better for dark mode) */
}